.header-inner {
  max-width: 1366px;
  .l-header-user{
    color: #fff;
    float: left;
    font-size: 11px;
    display: block;
    margin: 20px 0 0 10px;
  }
}

#container {
  max-width: 1366px;
}
