<IfModule mod_rewrite.c>
		RewriteEngine On
		RewriteBase /kakeiboki/app_ad/

		RewriteCond %{REQUEST_FILENAME} -f
		RewriteRule \.(png|jpg|jpeg|gif|bmp|ico|css|js|eot|svg|ttf|woff|woff2|otf|ico)$ - [L]
		RewriteRule /(.*) index.php [L]
</IfModule>